    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>xuxiaozhao技术狂想</h2>
              <br/>
                <p>徐朝<br/>
				18948772543<br/>
				1983年12月<br/>
				2006年，中南财经政法大学 电子商务<br/><br/>
				
				2011-2014年期间 任职腾泽科技公司 技术总监<br/>
				2010-2011年期间 任职深圳市艾伯资讯有限公司 项目主管<br/>
				2008-2010年期间 任职迪蒙网络科技有限公司 高级开发工程师<br/>
				
				</p>
                <p><a href="http://weibo.com/rockgeek">我的微博</a></p>
                <br/>
              </div>
        </div>
    </section>
